/* .Pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Pokedex-header {
  color: lightgrey;
} */

.Pokedex-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
